<div class="card bg-light mb-3">
  <div class="card-body">
    <h4><%= link_to post.title, post, class: 'text-decoration-none' %></h4>
    <div class="text-muted mb-2">
      <em>Por <%= post.author %> (<%= l(post.created_at, format: :short) %>)</em>
    </div>

    <p><%= post.body.truncate(200) %></p>

    <p class="text-muted"><% pluralize(post.comments.count, 'Comentário') %> </p>

  <div class= 'btn btn-primary'>    
    <%= link_to "Ler Artigo" , post, class: 'text-white text-decoration-none' %>
    <i class="bi bi-search"></i>
  </div>

  <div class= 'btn btn btn-secondary'>    
    <%= link_to "Editar" , edit_post_path(post), class: 'text-white text-decoration-none' %>
    <i class="bi bi-pen"></i>
  </div>

  <div class= 'btn btn-danger'>    
    <%= link_to "Apagar" , post, method: :delete, class: 'text-white text-decoration-none', data: {confirm:'Você tem certeza?'} %>
    <i class="bi bi-trash"></i>
  </div>


  </div>
</div>